.posts textarea {
  width: 99%;
  background-color: gainsboro;
  resize: none;
}
.posts button {
  height: 2em;
  width: 4em;
  background-color: #61dafb;
  border-radius: 5px;
}
.posts {
  padding: 1em;
}
